# Misc
.sass-cache
.eslintcache
.cache
npm-debug.log*
.idea
.vscode
.parcel-cache

# Compiled output
dist
build

# Node modules
node_modules

# Rollup config
!rollup.config.js

# Coverage output
coverage
.nyc_output

# OSX files
.DS_Store

# custom
docker-compose_new.yml
docker-compose_old.yml